/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-color: #FFFAFA;
  color: #696969; /* text color */
}

/* Change header text to imported font */
h2 {
  font-family: 'Times New Roman', sans-serif;
  color: #696969; /* text color */
}

h3 {
  font-family: 'Times New Roman', sans-serif;
  color: #696969; /* text color */
}

h4 {
  font-family: 'Yusei Magic', sans-serif;
  color: #696969; /* text color */
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}
